vendor/
node_modules/
.env
.env.backup
.env.production.local
.env.local
.env.*.local
storage/app/*
!storage/app/.gitkeep
storage/framework/*
!storage/framework/.gitkeep
storage/logs/*
!storage/logs/.gitkeep
bootstrap/cache/*
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*~
.project
.settings/
*.sublime-workspace
*.sublime-project
.phpstorm.meta.php
_ide_helper.php
composer.lock
package-lock.json
Project.md